.about {
    padding: 84px 0;

    @media screen and (min-width: 768px) {
        padding: 100px 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 169px 0 121px 0;
    }
}

.about__container {
    display: flex;
}

.picture-list {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }
    
    @media screen and (min-width: 1200px) {
        display: flex;
    }    
}

.picture-list__item + .picture-list__item {
    @media screen and (min-width: 768px) {
        margin-top: 30px;      
    }

    @media screen and (min-width: 1200px) {
        margin-top: 0;
        margin-left: 30px;
    }
}

.about-content {
    @media screen and (min-width: 768px) {
        margin-left: 30px;     
    }
    
    @media screen and (min-width: 1200px) {
        margin-left: 64px;    
    }
}

.about-content__top-text {
    color: var(--dark-theme-color);

    &::before {
        background-color: var(--dark-theme-color);
    }
}



.about-content__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33/28);
    letter-spacing: 0.05em;
    color: var(--dark-theme-color);
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
        font-size: 42px;
        line-height: calc(49/42);
    }
}

.about-content__bottom-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.02em;
    color: var(--dark-theme-color);
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
        font-size: 18px;
        line-height: calc(30/18);
    }
}

.about-content__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--dark-theme-color);
    margin-bottom: 40px;
}

.about-content__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
}
