.benefits {
    padding: 84px 0;

    @media screen and (min-width: 768px) {
        padding: 100px 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 140px 0;
    }
}

.benefits__container {
    display: flex;
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        align-items: flex-end;
    }

    @media screen and (max-width: 1199px) {
        flex-direction: column-reverse;
    }
}


.benefits__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    
    @media screen and (min-width: 768px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 370px;
    }
}

.benefits__item {
    background-color: #f7f7f7;
    max-width: 193px;
    height: 133px;
    padding: 20px 35px;
    margin: 0 auto;

    @media screen and (max-width: 479px) {
        & + & {
            margin-top: 30px;
        }

    }

    @media screen and (min-width: 480px) {
        &:nth-child(odd) {
            margin-right: 30px;
        }
        
        &:nth-child(even) {
            margin-top: 30px;
        }
    }


    @media screen and (min-width: 768px) {
        max-width: 210px;
        height: 133px;
        padding: 20px 44px;
        margin: 0;
    }
    
    @media screen and (min-width: 1200px) {
        max-width: 170px;
        height: 133px;
        padding: 20px;    
    }
}


.benefits__item-count {
    display: block;
    font-size: 42px;
    line-height: calc(57/42);
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--dark-theme-color);
}

.benefits__item-icon {
    position: absolute;
}

.benefits__text-box {
    @media screen and (min-width: 1200px) {
        max-width: 500px;
        margin-left: 130px;
    }
}

.benefits__item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    text-align: center;
    color: var(--dark-theme-color);
}

.benefits__top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--dark-theme-color);
}

.benefits__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: calc(49/42);
    letter-spacing: 0.05em;
    color: var(--dark-theme-color);
    margin: 20px 0;
    
    @media screen and (min-width: 480px) {
        font-size: 42px;
    }
}

.benefits__bottom-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
    margin-bottom: 44px;

    @media screen and (min-width: 480px) {
        font-size: 18px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
    }
}