.gallery__top-text {
    color: var(--dark-theme-color);

    &::before {
        background-color: var(--dark-theme-color);
    }

    @media screen and (min-width: 768px) {
        line-height: calc(15/11);
    }
}

.gallery{
    padding: 84px 0 84px 0;

    @media screen and (min-width: 768px) {
        padding: 100px 0 100px 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 130px 0 130px 0;
    }
}

.gallery__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;  
    }
    
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;  
    }
}

.gallery__item {
    width: 100%;
    @media screen and (max-width: 767px) {
        &+& {
            margin-top: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);    
    }
    
    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);   
    }
}