.gallery__top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.91;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--dark-theme-color);

    @media screen and (min-width: 768px) {
        line-height: calc(15/11);
    }
}