.prices {
    background-color: rgba(17, 19, 25, 1);
    background-image: url(../images/decktop/prices-bcg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1280px;
    margin: 0 auto;
    padding: 84px 0;

    @media screen and (min-width: 768px) {
        padding: 100px 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 130px 0;
    }
}

.prices__top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: var(--typical-margin);
}

.prices__title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 28px;
    line-height: calc(49/42);
    letter-spacing: 0.05em;
    color: var(--light-theme-color);
    margin-bottom: 44px;

    @media screen and (min-width: 480px) {
        font-size: 42px;
    }
}

.prices__wrap {
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.prices__list {
    padding: 30px;
    margin: 0;

    @media screen and (min-width: 768px) {
        padding: 30px 40px;
    }

    @media screen and (min-width: 1200px) {
        flex-grow: 1;    }
}

.prices__list--light {
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices__list--dark {
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);;
}

.prices__item {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.prices__item::before {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
    margin-left: 6px;
    margin-right: 6px;
}

.prices__item:last-child {
    margin-bottom: 0;
}

.prices__item-text {
    font-weight: 400;
    font-size: 11px;
    line-height:calc(30/14);
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

    @media screen and (min-width: 480px) {
        font-size: 14px;
    }

    &:first-child {
        order: -1;
    }

    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: calc(30/18);
    }
}

.prices__button {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
}