body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    // outline: 2px solid tomato;

    @media screen and (min-width: 480px) {
        width: 448px;
    }
    
    @media screen and (min-width: 768px) {
        width: 720px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

h1 {
    font-family: 'Raleway', sans-serif;
}

p, h1, h2, h3 {
    margin: 0;
}

ul, li {
    // margin: 0;
    padding-left: 0;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: var(--typical-margin);
    display: flex;
    align-items: center;
    

    &::before {
        content: '';
        width: 60px;
        height: 1px;
        background-color: currentColor;
        margin-right: 21px;
    }
}

