:root {
    --primery-text-color: rgba(85, 85, 85, 1);
    --secondary-text-color: rgba(157, 164, 189, 0.6);
    --dark-theme-color: rgba(48, 48, 48, 1);
    --light-theme-color: rgba(255, 255, 255, 1);
    --accent-color: rgba(255, 108, 0, 1);
    --typical-margin: 20px;
}